---
title: "home page"
layout: layout2
---
<h1>Home</h1>

<h2>Shaileshh Bojja Venkatakrishnan</h2>

<img src="/images/bojja.jpg" alt="Photo of Shaileshh Bojja Venkatakrishnan" style="max-width: 100%; height: auto; width: 300px;" />
<h3>Assistant Professor<br/>
    Dreese Lab 572 <br/>
    <a href="https://cse.osu.edu/">Department of Computer Science and Engineering</a> <br/>
    <a href="https://www.osu.edu/">The Ohio State University</a> <br/>
    <br>Email:  <a href="bojjavenkatakrishnan.2@osu.edu"> bojjavenkatakrishnan.2@osu.edu </a> <br/>
</h3>

<p>I am an assistant professor in the computer science and engineering department at the Ohio State University. I am broadly interested in designing intelligent data-driven algorithms for current and emerging networking and distributed systems. In particular, I am interested in fundamental questions at the networking layer of blockchains and emerging large scale decentralized applications. I enjoy problems that warrant 'first-principles' thinking. Some of the other topics I have worked on in the past include scheduling algorithms for data center networks, peer-to-peer networks and information theory.</p>

<p>Prior to my current position I was a postdoc in the networks and mobile systems group at MIT, where I worked on exciting problems in the intersection of network systems, algorithms, and theory. I received my PhD from the University of Illinois Urbana-Champaign (UIUC) in 2017. I did my bachelor's degree at the Indian Institute of Technology Madras in 2012. During the summer of 2016 I interned at Google, where I worked on congestion control in Google's data center networks. I was a recipient of the Joan and Lalit Bahl fellowship at UIUC.</p>
<p><strong>Prospective Graduate Students:</strong> I am looking for motivated students interested in networking systems and\/or machine learning (particularly reinforcement learning). If you are interested, please send me an email.</p>

<h3><%= link_to 'Research', 'research.html' %></h3>
<h3><a href = "https://scholar.google.com/citations?user=9wLpwbsAAAAJ&hl=en">Google Scholar</a></h3>